/* Reset */
* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

/* Centering and Max Width */
.container {
    max-width: 100%; /* Sử dụng toàn bộ chiều rộng trên các màn hình nhỏ */
    padding: 0 15px; /* Thêm padding để tránh sát lề trên các màn hình nhỏ */
}

/* Form */
.custom-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-input:focus {
    border-color: #4490DB;
    box-shadow: 0 0 8px rgba(68, 144, 219, 0.3);
    outline: none;
}

.custom-button {
    width: 100%;
    background-color: #4490DB;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #357bb5;
}

/* Responsive adjustments */
@media (min-width: 576px) {
    .container {
        max-width: 400px; /* Giới hạn chiều rộng form cho các màn hình lớn hơn */
    }
}

.is-invalid {
    border-color: #dc3545 !important;
    box-shadow: 0 0 6px rgba(220, 53, 69, 0.5);
}

.is-valid {
    border-color: #28a745 !important;
    box-shadow: 0 0 6px rgba(40, 167, 69, 0.5);
}

/* Hiển thị thông báo lỗi */
.invalid-feedback {
    display: block; /* Đảm bảo hiển thị */
    color: #dc3545;
}